@import '../../styles';

.category-container {
	display: grid;
	gap: 3rem;
	border-right: 0.25rem solid $primary;
	padding-right: 1rem;
	padding-top: 2rem;
	padding-bottom: 5rem;

	.category {
		display: grid;
		place-items: center;
		gap: 0.5rem;
		cursor: pointer;
		opacity: 0.5;
		transition-duration: 250ms;

		&:hover {
			opacity: 0.8;
			transform: scale(1.025);
		}

		.icon-container {
			height: 4rem;
			overflow: hidden;
			background-color: rgba($primary, 0.1);
			padding: 1rem;
			border-radius: 50%;

			.icon {
				height: 100%;
				width: 100%;
				object-fit: contain;
			}
		}

		.name {
			color: $primary;
			font-size: 1.5rem;
		}

		&_selected {
			opacity: 1;
		}
	}
}
