@import '../../styles';

.header {
	display: flex;
	padding-top: 1rem;
	padding-bottom: 1rem;
	box-shadow: 1px 2px 8px 1px rgba($black, 0.2);

	.logo-container {
		height: 3rem;
		overflow: hidden;

		.logo {
			height: 100%;
			width: 100%;
			object-fit: contain;
		}
	}
}
